:root {
  --indianred: #CD5C5C;
  --crimson: #DC143C;
  --deepPink: #FF1493;
  --tomato: #FF6347;
  --papayaWhip: #FFEFD5;
  --khaki: #F0E68C;
  --plum: #DDA0DD;
  --slateBlue: #6A5ACD;
  --limeGreen: #32CD32;
  --teal: #008080;
  --steelBlue: #4682B4;
  --peru: #CD853F
}